---
permalink: /de/
---
{% set t = translations[locale] %}
{% include "sections/nav.njk" %}
{% include "sections/hero.njk" %}
{% include "sections/about.njk" %}
{% include "sections/experience.njk" %}
{% include "sections/education.njk" %}
{% include "sections/skills.njk" %}
{% include "sections/featured.njk" %}
{% include "sections/contact.njk" %}
{% include "sections/chatbot.njk" %}
{% include "sections/footer.njk" %}
