---
layout: false
permalink: /index.html
---
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="refresh" content="0; url=/de/">
<title>Redirecting…</title>
</head>
<body>
<script>window.location.href = '/de/';</script>
<p>Redirecting to <a href="/de/">/de/</a>…</p>
</body>
</html>
