---
layout: false
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://t.mannhart.ai/de/</loc>
    <lastmod>2026-03-02</lastmod>
  </url>
  <url>
    <loc>https://t.mannhart.ai/en/</loc>
    <lastmod>2026-03-02</lastmod>
  </url>
  <url>
    <loc>https://t.mannhart.ai/de/datenschutz/</loc>
    <lastmod>2026-03-13</lastmod>
  </url>
  <url>
    <loc>https://t.mannhart.ai/en/privacy/</loc>
    <lastmod>2026-03-13</lastmod>
  </url>
</urlset>
